.footer-desktop__left-button {
  padding-left: 7px;
}

.icon-right_ios {
  margin-right: 16px;
}

.Panel__in {
  background: var(--background_content) !important;
}

.panel_desktop .vkuiTooltip {
  left: -16px;
}

.panel_mobile .vkuiTooltip {
  left: -8px;
}