html {
  scroll-behavior: smooth;
}

.header__images {
  height: 212px
}

.header__cover {
  height:  170px;
}

.header__avatar {
  position: relative;
  left: calc(50% - 40px);
  top: -40px;
}

.header__avatar .Avatar__img {
  border: 2px solid var(--background_content);
}

.header__settings {
  position: fixed;
  left: calc(100% - 44px);
  top: 14px;
}

.header__text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__title {
  margin-top: 14px;
}

.header__open {
  color: var(--text_secondary);
  margin-bottom: 14px;
}

.main .vkuiGroup__inner {
  padding-top: 0 !important;
}

.position__bottom {
  display: flex;
  align-items: baseline;

}

.position__value {
  color: var(--text_secondary);
}

.position .RichCell__text {
  color: var(--text_secondary);
}
