html {
  scroll-behavior: smooth;
}

.header {
  top: var(--safe-area-inset-top);
}

.header__images {
  height: 212px
}

.header__cover {
  height:  170px;
}

.header__avatar {
  position: relative;
  left: calc(50% - 40px);
  top: -40px;
  width: 84px;
  border-radius: 42px;
  border: 2px solid var(--background_content);
}

.header__settings {
  position: fixed;
  border-radius: 56px;
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.5);
  right: calc(100% - 48px);
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__title {
  margin-top: 14px;
}

.header__open {
  color: var(--text_secondary);
  margin-bottom: 14px;
}

.position__bottom {
  display: flex;
  align-items: baseline;
}

.position__value, .position-desktop__description {
  color: var(--text_secondary);
}

.position .RichCell__text {
  color: var(--text_secondary);
}

.position-list_desktop {
  display: flex;
  flex-flow: row wrap;
  padding: 8px 16px;
  gap: 21px;
}

.position-desktop {
  width: 190px;
  display: flex;
  flex-direction: column;
}

.position-desktop__description {
  padding-top: 3px;
}

.position-desktop__title {
  padding-top: 13px;
}

.position__bottom_desktop {
  padding-top: 6px;
}

.header__tabs_desktop {
  margin-left: 20px;
}

.header__separator_desktop {
  padding-left: 0;
  padding-right: 0;
}
