.header__container {
  height: 210px
}

.header__cover {
  height:  170px;
}

.header__avatar {
  position: relative;
  left: calc(50% - 40px);
  top: -40px;
}

.header__avatar .Avatar__img {
  border: 2px solid var(--background_content);
  
}
