.header__subhead {
  color: var(--text_secondary);
  max-width: 520px;
  padding: 0 30px;
  margin: auto;
}

.category-cell .vkuiAvatar__img {
  background: var(--background_content);
}

.category-cell .vkuiCell__marker {
  order: 1;
}

.category-cell_desktop .vkuiCell__checkbox:checked~.vkuiCell__marker, .category-cell_desktop .vkuiCell__marker {
  display: none;
}

.panel-header_desktop.vkuiPanelHeader--vkcom .vkuiPanelHeader__in {
  box-shadow: none; 
}

.footer-desktop {
  height: 32px;
  display: flex;
}

.footer-desktop__button {
  margin-left: auto;
  margin-right: 8px;
}