.header__subhead {
  color: var(--text_secondary);
  padding: 0 30px;
}

.group-categories {
  padding-top: 54px;
  padding-bottom: 68px;
}

.header-desktop {
  padding-top: 13px;
  padding-bottom: 11px;
}

.category-cell .vkuiAvatar__img{
  background: var(--background_content);
}

.category-cell .vkuiCell__marker {
  order: 1;
}
