.select-units {
  margin-top: auto;
  margin-left: 10px !important;
}

.image-input__close {
  position: relative;
  top: -32px;
  left: 32px;
}

.footer-desktop__left-button_red {
  color: var(--button_secondary_destructive_foreground);
}

.footer-desktop__button_right {
  margin-left: 0;
}

.textarea_desktop .vkuiTextarea__el {
  min-height: 56px;
}

.textarea_mobile .vkuiTextarea__el {
  min-height: 64px;
}