.select-units {
  margin-top: auto;
  margin-left: 10px !important;
}

.image-input__close {
  position: relative;
  top: -32px;
  left: 32px;
}

.footer-desktop {
  height: 32px;
  padding: 16px;
}

.footer-desktop__button {
  margin-right: 8px;
}

.footer-desktop__button_right {
  margin-left: auto;
}

.footer-desktop__delete {
  color: var(--button_secondary_destructive_foreground);
  padding-left: 8px;
}
